*.sh
node_modules
*.md
*.woff
*.ttf
.vscode
.idea
lib
dist
/public
/docs
.husky
.local
/bin
.eslintrc.js
.prettierrc.js
.stylelintcache

mock/*
@types/auto-imports.d.ts

/src/pages/Device/components/Modal/components/EditV1/components/V1
